<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>猜电影</title>
    <link href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css" rel="stylesheet">
</head>

<body>
    <div class="weui-search-bar" id="searchBar">
        <form class="weui-search-bar__form">
            <div class="weui-search-bar__box">
                <i class="weui-icon-search"></i>
                <input type="search" class="weui-search-bar__input" placeholder="搜索" required="">
                <a href="javascript:" class="weui-icon-clear"></a>
            </div>
            <label class="weui-search-bar__label">
                <i class="weui-icon-search"></i>
                <span>搜索</span>
            </label>
        </form>
        <a href="javascript:" class="weui-search-bar__cancel-btn">取消</a>
    </div>
    <h1 id="h1">点击标题，开始录音翻译</h1>
    <p id="title"></p>
    <div id="directors"></div>
    <div id="year"></div>
    <div id="poster"></div>
</body>
<script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script> {{!--
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script> --}}
<script src="https://res.wx.qq.com/open/libs/weuijs/1.1.2/weui.min.js"></script>
<script>
    weui.searchBar('#searchBar');
</script> {{!--
<script>
    wx.config({
        debug: false,
        appId: 'wx001e2f72ebd7a312',
        timestamp: '{{ timestamp }}',
        nonceStr: '{{ nonceStr }}',
        signature: '{{ signature }}',
        jsApiList: [
            'startRecord',
            'stopRecord',
            'onVoiceRecordEnd',
            'translateVoice'
        ]
    });
    wx.ready(function () {
        var isRecording = false;
        $('#h1').click(function () {
            if (!isRecording) {
                isRecording = true;
                wx.startRecord({
                    cancel: function () {
                        console.log('请开启麦克风');
                    }
                });

                return '';
            }
            isRecording = false;
            wx.stopRecord({
                success: function (res) {
                    var localId = res.localId;

                    wx.translateVoice({
                        localId: localId,
                        isShowProgressTips: 1,
                        success: function (res) {
                            console.log(res.translateResult);
                            alert(res.translateResult);
                        }
                    });
                }
            });
        });
    });
</script> --}}

</html>